:root {
    --family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    --twiter-blue: #2AA0F2;
}

body {
    margin: 0;
    font-family: var(--family) !important;
}

.login-container {
    background-color: #15202B;
    height: auto;
    min-height: 100vh;
}
.login-gutter {
    max-width: 612px;
    height: auto;
    padding: 20px 5px;
    margin: auto;
    text-align: center;
}

.twitter-logo {
    height: 39px;
    color: rgb(255, 255, 255);
    fill: currentcolor;
    width: 100%;
}

.home-logo, .hastag-logo, .notifications-logo, .messages-logo, .bookmark-logo, .lists-logo, .profile-logo, .more-logo {
    height: 33px;
    color: rgb(255, 255, 255);
    fill: currentcolor;
    width: 28%;
    display: inline-block;
}

.landing-list-text {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 4px;
    line-height: 1.3125;
    font-size: 20px;
    color: #FFF;
    font-weight: bold;
    /* padding-left: 6px; */
}

.login-header {
    height: 39px;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 1.3125;
    font-family: var(--family);
    margin-top: 27px;
    font-size: 23px;
    font-weight: bolder;
    padding-bottom: 2px;
}

.input-container {
    margin: auto;
    min-height: 52px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 85%;
    background-color: #1A2734;
    border: none;
    border-bottom: 2px solid rgba(128, 144, 158);
    border-radius: 2px;
    -webkit-margin-collapse: separate;
    position: relative;
}

.input-container-signup, .input-container-create-account {
    margin: auto;
    min-height: 52px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 10px;
    width: 96%;
    background-color: #1A2734;
    border: none;
    border-bottom: 2px solid rgba(128, 144, 158);
    border-radius: 2px;
    -webkit-margin-collapse: separate;
    position: relative;
}

.input-container-create-account {
    margin-bottom: 0;
}

.input-styles {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none !important;
    color: #FFF;
    font-size: 18px;
    padding-top: 20px;
    height: 31px;
}

.input-styles-create-account {
    width: 100%;
    background-color: transparent;
    border: none !important;
    color: #FFF;
    font-size: 21px;
    height: 45px;
}

.input-styles:focus, .input-styles-create-account:focus {
    outline: none !important;
}

.label-styles {
    font-size: 15px;
    color: #80909E;
    font-family: var(--family);
    position: absolute;
    top: 5px;
}

.input-styles:focus ~ label.label-styles {
    color: var(--twiter-blue);
}

.login-button-container, .create-account-button-container {
    margin:auto;
    width: 90%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.create-account-button-container {
    margin-top: 15px;
}

.login-button, .signup-button, .tweet-btn {
    width: 100%;
    height: 100%;
    background-color: var(--twiter-blue);
    text-align: center;
    border-radius: 100px;
    border: none !important;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.tweet-btn:hover {
    background-color: rgb(26, 145, 242)
}

.forgot-container {
    color:#606F7C;
    text-align: center;
}

.forgot-styles {
    color: #2795E0;
    font-size: 15px;
    cursor: pointer;
}

.signup-modal-overall-container, .create-account-modal-overall-container {
    z-index: 6;
    width: 100vw;
    height: 100vh;
    background-color: rgb(57, 66, 76, .5);
    top: 0;
    color: rgb(15, 15, 15);
    left: 0 !important;
    overflow-y: hidden;
    position: fixed;
}

.signup-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51%);
    min-height: 630px;
    background-color: #15202C;
    max-width: 600px;
    width: 80vw;
    margin: auto;
    text-align: center;
    border-radius: 14px;
    z-index: 6;
}

.signup-header-container {
    height: 30px;
    padding: 12px 10px;
    text-align: right;
    margin-bottom: 15px;
}

.twitter-logo2 {
    height: 28px;
    color: rgb(255, 255, 255);
    fill: currentcolor;
    width: 100%;
}

.step-text {
    font-weight: bolder;
    color: #FFF;
    font-size: 18px;
    text-align: left;
    position: absolute;
    top: 17px;
    left: 65px;
}

.create-account-back {
    height: 24px;
    color: var(--twiter-blue);
    fill: currentcolor;
    position: absolute;
    top: 15px;
    left: 19px;
    width: 24px;
    border-radius: 100px;
}

.create-account-back:hover {
    background-color: rgba(29,161,242,0.1);
}

.next-btn {
    min-width: calc(48.3px);
    height: 30px;
    border-radius: 100px;
    font-weight: 700;
    color: #FFF;
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 15px;
    background-color: var(--twiter-blue);
    border: none;
    padding: 0 18px;
}

.signup-modal-body-container, .create-account-modal-body-container, .create-account-footer-container {
    padding: 0 30px;
}

.create-account-modal-body-container {
    margin-bottom: 60px;
}

.terms-text {
    color: #FFF;
    text-align: left;
    line-height: 1.3;
    font-size: 15px;
}

.terms-text-span {
    color: #2183c3;
}

.create-text {
    margin-top: 10px;
    font-weight: bold;
    color: #FFF;
    font-size: 23px;
    text-align: left;
    margin-bottom: 10px;
}

.hide {
    display: none !important;
}

.error-msg {
    color: red;
    display: block;
    margin-bottom: 10px;
}

.email-text {
    margin-top: 6px;
    color: #2695DF;
    text-align: left;
    margin-bottom: 29px;
    font-size: 15px;
}

.date-text {
    margin-top: 20px;
    color: #FFF;
    text-align: left;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 2px;
}

.public-text {
    color: #8594A2;
    text-align: left;
    font-size: 15px;
    margin-bottom: 5px;
}

.select-container {
    margin: auto;
    min-height: 52px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 33%;
    display: inline-block;
    background-color: #1A2734;
    border: none;
    border-bottom: 2px solid rgba(128, 144, 158);
    border-radius: 2px;
    -webkit-margin-collapse: separate;
    position: relative;
}

.year.select-container {
    width: 27%;
}

.month.select-container {
    width: 41%;
}

.day.select-container {
    width: 15%;
}

.select-styles {
    width: 100%;
    background: transparent;
    border: none;
    top: 23px;
    position: relative;
    height: 28px;
}

.year.select-styles {
    color: #FFF;
    display: inline-block;
}

.month.select-styles {
    color: #FFF;
    display: inline-block;
}

.day.select-styles {
    color: #FFF;
    display: inline-block;
}

.select-styles:focus {
    outline: none;
}

.dob-container {
    text-align: left;
}

.login-button:disabled, .next-btn:disabled, .signup-button:disabled {
    opacity: .6;
    cursor: no-drop;
}

.landing-container {
    background-color: #15202B;
    height: auto;
    min-height: 100vh;
    width: 100vw;
}

.landing-left-container, .landing-middle-container, .landing-right-container {
    display: inline-block;
    height: auto;
    min-height: 100vh;
}

.landing-left-container {
    width: 32%;
    border-right: 1px solid #37444D;
} 

.landing-middle-container {
    width: 31%;
    border-right: 1px solid #37444D;
}

.landing-right-container {
    width: 36.9%;
}

.left-list-container {
    /* max-width: 226px; */
    max-width: 37%;
    margin-right: 50px;
    height: auto;
    float: right;
}

.landing-logo-container {
    text-align: left;
}

.landing-list-container, .tweet-btn-container {
    padding: 11px 10px 11px 10px;
}

.landing-list-container:hover:not(.landing-list-first) {
    padding: 0;
}

.landing-list-container:hover > .landing-hover-container:not(.landing-list-first) {
    background-color: rgba(29, 161, 242, 0.1);
    border-radius: 100px;
    width: 90%;
    padding: 10px;
    white-space: nowrap;

}

.landing-list-container:hover > .landing-hover-container:not(.landing-list-first) > .landing-list-text, .landing-list-container:hover > .landing-hover-container:not(.landing-list-first) > svg {
    color: #2AA0F2;
}

option {
    color: black;
}

@media only screen and (max-width: 740px) {
    .year.select-container {
        width: 27%;
    }
    
    .month.select-container {
        width: 39%;
    }
    
    .day.select-container {
        width: 14%;
    }

    .year.select-container {
        margin-right: 0;
    }
}

@media only screen and (max-width: 578px) {
    .year.select-container {
        width: 24%;
    }
    
    .month.select-container {
        width: 33%;
    }
    
    .day.select-container {
        width: 14%;
    }
}