:root {
    --family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    --twiter-blue: #2AA0F2;
}

body {
    margin: 0;
    font-family: var(--family) !important;
}

.login-container {
    background-color: #15202B;
    height: auto;
    min-height: 100vh;
}
.login-gutter {
    max-width: 612px;
    height: auto;
    padding: 20px 5px;
    margin: auto;
    text-align: center;
}

.twitter-logo {
    height: 39px;
    color: rgb(255, 255, 255);
    fill: currentcolor;
    width: 100%;
}

.login-header {
    height: 39px;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 1.3125;
    font-family: var(--family);
    margin-top: 27px;
    font-size: 23px;
    font-weight: bolder;
    padding-bottom: 2px;
}

.input-container {
    margin: auto;
    min-height: 52px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 85%;
    background-color: #1A2734;
    border: none;
    border-bottom: 2px solid rgba(128, 144, 158);
    border-radius: 2px;
    -webkit-margin-collapse: separate;
    position: relative;
}

.input-container-signup {
    margin: auto;
    min-height: 52px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 10px;
    width: 96%;
    background-color: #1A2734;
    border: none;
    border-bottom: 2px solid rgba(128, 144, 158);
    border-radius: 2px;
    -webkit-margin-collapse: separate;
    position: relative;
}

.input-styles {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none !important;
    color: #FFF;
    font-size: 18px;
    padding-top: 20px;
    height: 31px;
}

.input-styles:focus {
    outline: none !important;
}

.label-styles {
    font-size: 15px;
    color: #80909E;
    font-family: var(--family);
    position: absolute;
    top: 5px;
}

.input-styles:focus ~ label.label-styles {
    color: var(--twiter-blue);
}

.login-button-container {
    margin:auto;
    width: 90%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.login-button {
    width: 100%;
    height: 100%;
    background-color: var(--twiter-blue);
    text-align: center;
    border-radius: 100px;
    border: none !important;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
}

.forgot-container {
    color:#606F7C;
    text-align: center;
}

.forgot-styles {
    color: #2795E0;
    font-size: 15px;
    cursor: pointer;
}

.signup-modal-overall-container {
    z-index: 6;
    width: 100vw;
    height: 100vh;
    background-color: rgb(57, 66, 76, .5);
    top: 0;
    color: rgb(15, 15, 15);
    left: 0 !important;
    overflow-y: hidden;
    position: fixed;
}

.signup-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51%);
    min-height: 630px;
    background-color: #15202C;
    max-width: 600px;
    width: 80vw;
    margin: auto;
    text-align: center;
    border-radius: 14px;
}

.signup-header-container {
    height: 30px;
    padding: 12px 10px;
    text-align: right;
    margin-bottom: 15px;
}

.twitter-logo2 {
    height: 28px;
    color: rgb(255, 255, 255);
    fill: currentcolor;
    width: 100%;
}

.next-btn {
    min-width: calc(48.3px);
    height: 30px;
    border-radius: 100px;
    font-weight: 700;
    color: #FFF;
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 15px;
    background-color: var(--twiter-blue);
    border: none;
    padding: 0 18px;
}

.signup-modal-body-container {
    padding: 0 30px;
}

.create-text {
    margin-top: 10px;
    font-weight: bold;
    color: #FFF;
    font-size: 23px;
    text-align: left;
    margin-bottom: 10px;
}

.hide {
    display: none !important;
}

.error-msg {
    color: red;
    display: block;
    margin-bottom: 10px;
}

.email-text {
    margin-top: 6px;
    color: #2695DF;
    text-align: left;
    margin-bottom: 29px;
    font-size: 15px;
}

.date-text {
    margin-top: 20px;
    color: #FFF;
    text-align: left;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 2px;
}

.public-text {
    color: #8594A2;
    text-align: left;
    font-size: 15px;
    margin-bottom: 5px;
}

.select-container {
    margin: auto;
    min-height: 52px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 33%;
    display: inline-block;
    background-color: #1A2734;
    border: none;
    border-bottom: 2px solid rgba(128, 144, 158);
    border-radius: 2px;
    -webkit-margin-collapse: separate;
    position: relative;
}

.year.select-container {
    width: 27%;
}

.month.select-container {
    width: 41%;
}

.day.select-container {
    width: 15%;
}

.select-styles {
    width: 100%;
    background: transparent;
    border: none;
    top: 23px;
    position: relative;
    height: 28px;
}

.year.select-styles {
    color: #FFF;
    display: inline-block;
}

.month.select-styles {
    color: #FFF;
    display: inline-block;
}

.day.select-styles {
    color: #FFF;
    display: inline-block;
}

.select-styles:focus {
    outline: none;
}

.dob-container {
    text-align: left;
}

.login-button:disabled, .next-btn:disabled {
    opacity: .6;
    cursor: no-drop;
}

@media only screen and (max-width: 740px) {
    .year.select-container {
        width: 27%;
    }
    
    .month.select-container {
        width: 39%;
    }
    
    .day.select-container {
        width: 14%;
    }

    .year.select-container {
        margin-right: 0;
    }
}

@media only screen and (max-width: 578px) {
    .year.select-container {
        width: 24%;
    }
    
    .month.select-container {
        width: 33%;
    }
    
    .day.select-container {
        width: 14%;
    }
}